<!DOCTYPE html>
<html>
<head>
    <title>Login | Smart Campus AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div style="display:flex;justify-content:center;align-items:center;height:100vh;">
    <div class="card" style="width:350px;">
        <h2>Smart Campus AI</h2>
        <p>Admin Login</p><br>
        <a href="/dashboard">
            <button style="padding:10px 20px;border:none;border-radius:5px;cursor:pointer;">
                Login
            </button>
        </a>
    </div>
</div>

</body>
</html>
